
h3 {
  display: inline-block;
}


body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.hello {
  padding-top: 12%;
  margin-left: 7%;
}

footer {
  background-color: black;
  color: white;
  padding-top: 5%;
  padding-bottom: 2%;
}

.icon {
  color: white;
}

.icon:hover {
  color: maroon;
}

.abm {
  padding-left: 5%;
  padding-right: 15%;
}

.cprt {
  padding-top: 5%;
  padding-bottom: 1%;
}

nav {
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
}

.intro {
  padding-top: 7%;
  padding-bottom: 4%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;

  border-radius: 1%;

  margin: 8% 5% 8% 5%;
}

.skill-icn {
  color: rgb(0, 162, 255);
  padding-bottom: 2%;
}

.skill-icn:hover {
  color: #f9b208;
}

.skilltab {
  padding-top: 2%;
  padding-bottom: 3%;
}
#skills {
  padding-bottom: 5%;
  padding-top: $%;
  background-color: white;
}

img {
  padding-left: 12%;
  height: auto;
  width: auto;
  border-radius: 2%;
}

body {
  background: rgb(224, 211, 232);
  background: linear-gradient(
    84deg,
    rgba(224, 211, 232, 1) 0%,
    rgba(45, 230, 206, 1) 50%,
    rgba(83, 134, 215, 1) 100%
  );
}

.iam {
  /* padding top right bottom left */
  padding: 3% 10% 3% 10%;
}

ul {
  text-align: right;
}
button {
  padding-right: 10%;
}

.brand {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding-top: 4%;
}


        
